body {

font-family: 'Segoe UI', Arial, sans-serif;

background:#f5f7fb;

}



.hero {


padding:120px 0;


background:

linear-gradient(
135deg,
#0f2027,
#203a43,
#2c5364
);


color:white;


}




.hero h1 {


font-size:48px;

font-weight:700;


}





.card {


border:none;

border-radius:15px;

box-shadow:

0 8px 20px rgba(0,0,0,0.08);


transition:0.3s;


}



.card:hover {


transform:translateY(-5px);


}




.navbar-brand {


font-weight:bold;

font-size:26px;


}





.btn {


border-radius:25px;


}





table {


background:white;


border-radius:10px;


overflow:hidden;


}